.contents{
    width: 100vw;
    height: 100%;
}
.logoCont{
    margin: 10% 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;background: rgb(35,35,35);
    background: radial-gradient(circle, rgba(35,35,35,1) 45%, rgba(0,0,0,1) 100%);
}
.contentsBody{
    display: flex;
    background-color: #000;
}
.contentsHead{
    padding: 1rem;
}
.contentsHead h3{
    color: #979696;
    font-weight: 500;
    border-bottom: 3px solid rgb(0,215,255);
}
.contentsHead p{
    font-size: 1rem;
    word-spacing: .2rem;
    line-height: 2rem;
    color: #c3c3c3;
}

/* ///// */
.Interior{
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/car2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.InteriorClip{
    margin: 2rem 0;
    width: 60%;
    height: 100%;
    background-color: #1d1d1d;
    clip-path: polygon(22% 0, 93% 0, 80% 19%, 100% 76%, 78% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    border: 2px solid #7f7d7d;
}
.InteriorClip h3{
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
}
.InteriorClip p {
    padding: 0 2rem;
    font-size: 1rem;
}