
.Front{
    width: 100vw;
    height: 100vh;
}

.teslaLogo{
  width: 15%;
  float: right;
  margin:1% 2%;
}
.header{
    width: 75vw;
    height: 80%;
    background-image: url(../../images/darkcar.jpg);
    background-size:100%
     100%;
    background-repeat: no-repeat;
    border-radius:1.6rem;
    position: absolute;
    box-shadow: 2px 4px 17px 5px rgba(80,76,76,0.75);
-webkit-box-shadow: 2px 4px 17px 5px rgba(80,76,76,0.75);
-moz-box-shadow: 2px 4px 17px 5px rgba(80,76,76,0.75);
    top: 15%;
    left: 13%;
}
.header h4{
    color: #b6b6b6;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin:5% ;
    text-transform: uppercase;
}
.tesla-head{
    padding-left: 13%;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #cf2617;
}
.Modelfeatures{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.Modelfeatures h5{
    padding:3% ;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #1a1919;
    opacity: .6;
    color: #d39c05;
    border-radius: .6rem;
    line-height: 1.5rem;
}
.features{
   text-align: center;
   color: #b6b6b6;
   font-size: 1.4rem;
}
.background{
    width: 100vw;
    height: 100vh;
    display: block;
}

.top_left{
    width: 100%;
    height: 50%;
    background: rgb(190,172,3);
    background: linear-gradient(90deg, rgb(233, 210, 3) 4%, rgba(226,208,23,1) 20%, rgba(231,213,13,1) 35%, rgba(236,241,13,1) 100%, rgba(103,103,103,1) 100%);
    clip-path: polygon(0 100%, 0 0, 40% 0);
}
.bottom_right{
    width: 40%;
    height: 50%;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background: rgb(249,255,0);
    background: linear-gradient(90deg, rgba(249,255,0,1) 0%, rgba(242,247,9,1) 34%, rgba(214,219,0,1) 68%, rgba(189,194,0,1) 100%);
    float: right;
}